<!DOCTYPE html>
<html>
    <head>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                // change the color of the messages based on user selection
                document.querySelector('#color-change').onchange = function() {
                    document.querySelector('body').style.background = this.value;
                };
            });
        </script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">CHATBOX</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">

                    Display name: <span id="display"></span>
                    <form id="display-name">
                        <div class="input-group mb-3">
                            <input type="text" id="name" class="form-control" autocomplete="off" placeholder="enter display name">
                            <div class="input-group-append">
                                <input type="submit" class="btn btn-outline-secondary">
                            </div>
                        </div>

                    </form>

                    <p>Current channel:</p> <span id="current_page"></span>
                    <p>Channels:</p>
                    <ul id="channels" class="nav-link">
                        {% for channel in channel_list %}
                            <li><a href="">{{ channel }}</a></li>
                        {% endfor %}
                    </ul>
                    <form id="add-channel">
                        <div class="input-group mb-3">
                            <input type="text" id="channel" name="channel" class="form-control" autocomplete="off" placeholder="add a channel">
                            <div class="input-group-append">
                                <input type="submit" class="btn btn-outline-secondary">
                            </div>
                        </div>
                    </form>
                    Change background color:
                    <select id="color-change">
                        <option value="white">White</option>
                        <option value="black">Black</option>
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                    </select>
                </div>

                <div class="col-9">
                    <form id="add-message" >
                        <div class="input-group mb-3 fixed-bottom">
                            <input type="text" id="message" class="form-control" autocomplete="off" placeholder="type your message">
                            <div class="input-group-append">
                                <input type="submit" class="btn btn-outline-secondary">
                            </div>
                        </div>
                    </form>
                    <div id="messages"><ul></ul></div>
                </div>
            </div>
        </div>

    </body>
</html>